@font-face {
  font-family: 'Edo';
  src: url(fonts/edosz.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --white-hero: rgba(255, 255, 255,0.857); 
  --orange: hsl(31, 84%, 50%);
  --dark-orange: hsl(31, 100%, 53%);
  --grey: hsl(0, 0%, 47%);
  --ligth-grey: rgb(243, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
  }
  
  footer {
    background-color: var(--grey);
  }

  footer i {
    color: var(--ligth-grey);
    width: 60px;
    font-size: 3em;
  }
  
  li {
    font-size: 30px;
    font-weight: 800px;
  }
  
  a,
  a:link,
  a:visited {
    font-family: 'Edo';
    font-size: 30px;
    font-weight: 800px;
    text-decoration: none;
    text-decoration: none;
    color: var(--white-hero);
  }
  
  a:hover {
    font-family: 'Edo';
    font-weight: bold;
    color:  var(--orange);
  }
  
  h2 {
    font-family: 'Edo';
    font-size: 80px;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hero {
    height: 100vh;
    background: url(imagens/thumb-churrasco-edit.jpg);
    background-color: black;
  }
  
  .heroTitles h1 {
    font-family: 'Edo';
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-hero);
    padding-top: 300px;
  }
  
  .heroTitles h2 {
    font-family: 'Edo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-hero);
    margin-top: 300px;
  }
  
  .menu {
    width: 150px;
    height: 40px;
    padding-top: 5px;
    margin: 0 auto;
  }
  
  .menu>ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60px;
  }
  
  .menu>ul>li {
    font-family: 'Edo';
    font-weight: 500;
  }
  
  .mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
  }
  
  .carousel {
    max-height: 500px;
    width: 1000px;
    border-radius: 15px;
  }
  
  .slide {
    border-radius: 15px;
  }
  
  .carousel-item img {
    max-height: 500px;
    width: 100px;
    border-radius: 15px;
  }
  
  .cardapio {
    font-family: 'Edo';
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cardapio h1 {
    font-family: 'Edo';
    margin-top: 50px;
  }
  
  .cardapio h2 {
    font-family: 'Edo';
    margin-top: 50px;
    font-size: 80px;
    font-weight: bold;
  }
  
  .cardapioItens {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60px;
  }
  
  .cardapioItens li {
    font-family: 'Edo';
    font-weight: 600;
    font-size: 30px;
  }
  
  .main {
    /* background: url(imagens/papel.jpeg); */
    background-color: hsl(23, 49%, 82%);
    background-size: cover;
  }

  .colorTwo{
    color:  var(--orange);
  }

  #cardapioIntro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  #cardapioIntro h1 {
    font-family: 'Edo';
    font-size: 15pc;
    font-weight: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--dark-orange);
  }

  #menuImg {
    margin-top: 50px;
    width: 700px;
  }
  
  #exoticos {
    height: 500px;
  }
  
  #nobres {
    margin-top: 350px;
    margin-bottom: 200px;
  }

  #aboutUs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  #aboutUs h2 {
    font-family: 'Edo';
    margin-top: 30px;
    margin-left: 100px;
    font-size: 100px;
  }
  
  #aboutUsImg {
    width: 600px;
    height: 470px;
    margin: 20px;
    margin-right: 100px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #888888
  }
  
  #aboutUs article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #aboutUs>article>p {
    font-family: 'Edo';
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
  }

  #forms{
    background-color: hsl(23, 49%, 82%);;
  }
  
  #location {
    background-color: var(--grey);
  }
  
  #gmap_canvas {
    width: 100%;
    height: 100%;
  }
  
  #contacts {
    background-color: var(--grey);
  }
  
  #info {
    font-family: 'Roboto', sans-serif !important;
    font-size: 25px;
    font-weight: 560;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--ligth-grey);
  }
                          /* styling form */
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  h1{
    text-align: center;
    font-family: Edo;
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 4em;
  }

  input, 
  select, 
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
  }

  #submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 20px;
  }

                              /* styling radio buttons */
  label, input[type="radio"] {
    line-height: 2.1ex;
  }
  
  input[type="radio"] {
      position: absolute;
      left: -999em;
  }
  
  input[type="radio"] + label {
      position: relative;
      overflow: hidden;
      cursor: pointer;
  }
  
  input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    margin-right: 0.5em;
  }
  
  input[type="radio"]:checked + label::before {
    background: radial-gradient(circle at center, #01b42e .6ex, white .7ex);
  }
  
  input[type="radio"] + label::before {
    border-radius: 50%;
  }

                              /* styling checkboxs */
/* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .semi-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #01b42e !important;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #01b42e;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }